body {
  margin-top: 5%;
}

h1 {
  font-family: Arial;
  text-align: center;
}

input, button {
  display: block;
  margin: .25em auto;
}

input{
  width: 50%;
}

button{
  margin-top: 1em;
}

div {
  width: 50%;
  margin: 0 auto;
}
