body {
  margin-top: 5%;
}

.row {
  width: 600px;
  height: 200px;
}

.searchButton {
  background-color: red;
  color: white;
  width: 150px;
  height: 150px;
  font-size: 24px;
  text-align: center;
  float: left;
  margin: 15px;
}

h1 {
  font-family: Arial;
  text-align: center;
}

input, button {
  display: block;
  margin: .25em auto;
}

input{
  width: 50%;
}

button{
  margin-top: 1em;
}

div {
  width: 50%;
  margin: 0 auto;
}
